<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lumen/bootstrap.css">
    <link rel="stylesheet" href="https://threads.plaid.com/threads.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    {% block extraHeaders %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/671be8ffb0.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-3">
    <div class="container" >
        <div class=" navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

            <ul class="navbar-nav mr-auto m-0 p-0">
                <li class="nav-item m-0 p-0">
                    {% if not g.user %}
                    <a class="nav-link ml-2" href="/"> <i class="fas fa-hand-holding-usd pr-2" style="font-size: 1.5em; color: lightgray;"></i></a>
                    {% else %}
                    <a class="nav-link ml-2" href="/home"> <i class="fas fa-hand-holding-usd pr-2" style="font-size: 1.5em; color: lightgray;"></i></a>
                    {% endif %}
                
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto m-0 p-0">
                {% if not g.user %}
                <li class="nav-item m-0 p-0"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item m-0 p-0"><a class="nav-link" href="/signup">&emsp;Signup</a></li>
                
                {% else %}
                <li class="nav-item m-0 p-0"><a class="nav-link" href="/home">My transactions</a></li>
                <li class="nav-item m-0 p-0"><a class="nav-link" href="/expense-report">&emsp;My Reports</a></li>
                <li class="nav-item m-0 p-0"><a class="nav-link" href="/logout">&emsp;Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
        
    </nav>

<div class="container mb-3" {% if g.user %}style="background-color:rgba(255, 255, 255, 0.75); height: 100vh"{% endif %}>
    {% for category, message in get_flashed_messages (with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script src="static/app.js"></script>

</body>
</html>