{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}

{% block content %}
    <main class="main">
      <div class="grid">

        <!-- TODO: import page -->
            
        <div id="container" class="initial-view">
          <br><br>
          <div class="row justify-content-md-center text-center m-4">
            <div class="card col-6 my-2" style="background-color: azure;">
              <h2 class="join-message">Step 1 of 2: Connect to Bank</h2>
              <p>Use Login: <strong>user_good</strong> / <strong>pass_good</strong> </p>
              
              <button id="link-btn" class="btn btn-primary btn-lg btn-block mb-3" disabled>
                Connect
              </button>
            
              </div>
          </div>

            <div class="loading-indicator"></div>
          </div>

          <div id="app" class="connected-view">
           
            
            <!-- TODO: add import transactions button -->
            <div id="container" class="initial-view">
              <br>
              <div class="row justify-content-md-center m-4 text-center" id="import-card">
                <div class="card col-6" style="background-color: azure;">
                  <h2 class="join-message my-2">Step 2 of 2: Import Transactions</h2>
                  <p>Click the link to import your previous 180 days of transactions</p>
                  <button id="get-transactions-btn" class="btn btn-primary btn-lg btn-block mb-3"> Import </button>
                </div>
              </div>

              <div class="item-data-row__response" style='background-color: azure;'>
                <table>
                  <tbody id="get-transactions-data"></tbody>
                </table>
              </div>
  
              <div class="loading-indicator"></div>
            </div>


              
              <!-- Balance -->
              <!-- TODO: May add later -->
              <!-- <div class="item-data-row">
                <div class="item-data-row__left">
                  <div class="item-data-row__request-type">post</div>
                </div>
                <div class="item-data-row__center">
                  <div class="item-data-row__nicename">Balance</div>
                  <div class="item-data-row__endpoint">
                    /accounts/balance/get
                  </div>
                  <div class="item-data-row__description">
                    Check balances in real time to prevent non-sufficient funds
                    fees.
                  </div>
                </div>
                <div class="item-data-row__right">
                  <button
                    id="get-balance-btn"
                    class="button button--is-small button--is-default button--is-full-width"
                  >
                    Send request
                  </button>
                </div>
                <div class="item-data-row__response">
                  <table>
                    <tbody id="get-balance-data"></tbody>
                  </table>
                </div>
              </div> -->

              
          </div>
        </div>
      </div>
    </main>


{% endblock %}