{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1 class="text-center">Where's my money going?</h1>

<div class="row">
    <div class="col-7">
        <h2 class="my-3 text-center"><u> Breakdown by Category</u></h2>
        <table class="table">
            <tbody>
                {% for key, value in totals.items() %}
                    <tr>
                        <td>{{key}}</td>
                        <td class="text-center">${{value}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-5 text-center">
        <br><br><span>Chart<br>Goes<br>Here</span>
    </div>

</div>

{% endblock %}