{% extends 'base.html' %}
{% block extraHeaders %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}


{% block title %}Expense Report{% endblock %}

{% block content %}
<br>
<div class="my-4 d-inline text-center">
    <h1 class="inline text-center my-0" id='title'>Where's my money going?</h1>
</div>


<form method="POST" id="date-sort" name="sort-by" class="mb-4 text-center mt-0">
    <label>Filter By: </label>
    <select id="selected-value">
        <option value="month">This month</option>
        <option value="year" selected>Year-to-date</option>
        <option value="all">All-time</option>
    </select>
    <button type="submit" class="btn btn-link d-inline" id="apply-timeframe"><u>Submit</u></button>
</form>
<div class="row justify-content-center mb-5">
    <div class="col-3 text-center">
        <strong>Income:</strong> ${{ income }}
    </div>
    <div class="col-3 text-center">
        <strong>Expenses:</strong> ${{ expenses }}
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-11 text-center justify-content-md-center">
        <canvas id="barChart" width="400" height="125"></canvas>
    </div>
</div> 
<br><br>   
<div class="row justify-content-around">
    <div class="col-6 ml-4">
        <h2 class="my-3 text-center"><u> Breakdown by Category</u></h2>
        <table class="table">
            <tbody>
                {% for key, value in totals.items() %}
                    <tr>
                        <td class="categories">&nbsp;&nbsp;{{key}}</td>
                        <td class="text-center cat-values">${{value}}</td>
                        <td><i class="fas fa-square" style="font-size: 1.5em;" id='square-{{loop.index}}'></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <div class="col-3  text-center">
       <h3 class="mt-4">Breakdown by %</h3>
        <canvas id="pieChart" width="75" height="75" class="mt-4"></canvas>

    </div>

</div>

<script src="static/chart.js"></script>
{% endblock %}