{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<br><br>
<div class="row justify-content-md-center m-4">
  <div class="card col-6" style="background-color: azure;">
    <h2 class="join-message my-2 p-2">Join Pretty-fast-books</h2>
    
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control h2") }}<br>
      {% endfor %}

      <button class="btn btn-primary btn-lg btn-block mb-3">Join!</button>
    </form>
  
    </div>

</div>

{% endblock %}