{% extends 'base.html' %}

{% block title %}Uncategorized{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
        
        <h1 class="my-5">Uncategorized Transactions</h1>
</div>

<div class="row align-items-center">
    <div class="col-9">
        <form method="POST" id="new_category_form">
            <div class="form-row align-items-center">
                {{ form.hidden_tag() }}
        
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    <div class="form-group col-3">
                    {{ field(placeholder=field.label.text, class="form-control d-inline", style="font-size: 12px;") }}
                    </div>
                {% endfor %}
                <div class="col-auto">
                    <button class="btn btn-link d-inline"><u>Add</u></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 mb-3 text-right">
        <button id="apply-categories" class="btn btn-primary btn-sm py-0 my-0" style="background-color: #174f7c; font-family: verdana; font-size: .75em; text-transform: capitalize;"> Apply Categories </button>
    </div>
</div>



{% if length == 0 %}
    <div class="row justify-content-md-center my-5">
        <br><h2><i>No transactions to review</i></h2>
    </div>
    
{% else %}
<table class="table table-striped bg-white">
    <thead>
        <tr>
          <th scope="col" class="pl-3"><strong>Description</strong></th>
          <th scope="col" class="text-center"><strong>Amount</strong></th>
          <th scope="col" class="text-center"><strong>Date</strong></th>
          <th scope="col" class="text-center"><strong>Category</strong></th>
        </tr>
    </thead>
    <tbody>
        
        {% for trans in user.transactions %}
            {% if not trans.category %}
            <tr>
                <td class="pl-3 p-2">{{ trans.name }}</td> 
                <td class="text-center p-2">${{ trans.amount }}</td>
                <td class="text-center p-2">{{ trans.date[5:] }}-{{ trans.date[:4]}}</td> 
                <td class="text-center p-2">

                    <form name="{{ trans.transaction_id }}">

                        <select id ="form-{{loop.index}}" data-transid="{{ trans.transaction_id }}" style='font-size: 14px;'>
                            <option value = "null" disable selected >--</option>
                            {% for category in categories %}
                                <option value ="{{category.id}}" >{{category.name}}</option>
                            {% endfor %}
                        </select>    
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        
    </tbody>
</table>
{% endif %}
<p id="trans-count" style="display: none;">{{ length }}</p>
{% endblock %}