{% extends 'base.html' %}

{% block title %}Uncategorized{% endblock %}

{% block content %}

<div class="row">
    <div class="col-6">
        <h2 class="mt-4 mb-3">Uncategorized Transactions</h2>
    </div>
    <div class="col-6 text-right pt-6 mt-3 mb-3 ">
        <button id="apply-categories" class="button button--is-primary btn-sm m-0 mt-2 py-0"> Apply Categories </button>

        <!-- <button id="new-category" class="button button--is-success btn-sm m-0 mt-2 p-0"> + custom category </button> -->
    </div>
</div>

<form method="POST" id="new_category_form">
    <div class="form-row align-items-center">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <div class="form-group col-3">
            {{ field(placeholder=field.label.text, class="form-control d-inline", style="font-size: 12px;") }}
            </div>
        {% endfor %}
        <div class="col-auto">
            <button class="btn btn-link d-inline"><u>Add</u></button>
        </div>
    </div>
</form>



<table class="table table-striped bg-white">
    <thead>
        <tr>
          <th scope="col" class="pl-3"><strong>Description</strong></th>
          <th scope="col" class="text-center"><strong>Amount</strong></th>
          <th scope="col" class="text-center"><strong>Date</strong></th>
          <th scope="col" class="text-center"><strong>Category</strong></th>
        </tr>
    </thead>
    <tbody>
        {% for trans in user.transactions %}
            <tr>
                <td class="pl-3 p-2">{{ trans.name }}</td> 
                <td class="text-center p-2">${{ dollar_formatted[loop.index-1] }}</td>
                <td class="text-center p-2">{{ trans.date[5:] }}-{{ trans.date[:4]}}</td> 
                <td class="text-center p-2">
                    <form name="{{ trans.transaction_id }}">
                        <select id = "myList" style='font-size: 14px;'>
                            <option value = "null" disable selected >Category</option>
                            {% for category in categories %}
                                <option value ="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>    
                     </form>
                </td>
            </tr>
            
            
        {% endfor %}
    </tbody>

</table>
<p id="trans-count" style="display: none;">{{ length }}</p>
{% endblock %}